

<div >
  <input type="text" (input)="onSearchTextChange($event)" placeholder="Search by name..."/>
  <input type="number" (change)="onNumberChange($event)" placeholder="Search by number" min="0"/>
  <select (change)="onTypeChange($event)">
      <option value>Select a type</option>
      <option *ngFor="let type of pokemonTypes" [value]="type">{{ type }}</option>
  </select>
</div>

<div class=pokemon-cards>
  <!-- mapping on pokemons to access the informations and displaying infos -->
  <div class="pokemon-card" *ngFor="let pokemon of filteredPokemons">
    <img src={{pokemon.img}} class="pokemon-img" />
    <div class="pokemon-infos">
      <div class="pokemon-title">
        <div class="pokemon-number">n°{{pokemon.id}}</div>
        <div class="pokemon-name"> {{pokemon.name}} </div>
      </div>
      <div class="pokemon-type">Type: 
        {{pokemon.type}}</div>
    </div>
  </div>
</div>